<div class="footer bg">
    <div class="footer-social ">
        <a href="https://www.linkedin.com/in/bassam-ramadan-14436a185/" class="home__social-icon" style="color: #0072d3;"><i class="fab fa-linkedin" ></i></a>
        <a href="https://github.com/BassamRamadan2611" class="home__social-icon" style="color: #333;"><i class="fab fa-github"></i></a>
         <a href="https://twitter.com/BassamR52891973" class="home__social-icon"><i class="fab fa-twitter"></i></a>
         <a href="https://www.instagram.com/bassam9174/" class="home__social-icon" style="color: #dd2a7b;"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100007638137434" class="home__social-icon" style="color: #3b5998;"><i class="fab fa-facebook" ></i></a>
        <a href="mailto: bassamramadan964@gmail.com" class="home__social-icon" style="color: #ec1346;">   <i class="fa fa-envelope" ></i></a>

     
    </div>
 <!-- Copyright -->
 <div dir="ltr"
 class="copyright"
 
 >
© 2023 Copyright :
<a  href="https://bassamramadan.vercel.app/" 
 >Bassam Ramadan</a
>
</div>
<!-- Copyright -->   
</div>