
<nav class="navbar navbar-expand-lg navbar-light bg " dir="rtl">
    <a class="navbar-brand" routerLink="home">  Islam Basic </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav my-2 justify-content-center" >
        <li class="nav-item ">
          <a class="nav-link" routerLink="home">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="quraan-written">قران مكتوب </a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link " routerLink="quraan-audio">قران صوتي</a>
        </li>
        
        <li class="nav-item">
          <div class="dropdown">
            <button  
        
            class="nav-link dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"> اذكار</button>
            
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" routerLink="azkar-sabah">اذكار الصباح</a></li>
              <li><a class="dropdown-item" routerLink="azkar-masaa">اذكار المساء</a></li>
              <li><a class="dropdown-item" routerLink="post-prayer">اذكار بعد الصلاة</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="pray-time"> اوقات الصلاة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="hadiths"> الحديث الشريف</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="contact"> اتصل بنا</a>
        </li>
       
       
       
       
       
      </ul>
   
    </div>
  </nav>
