<div class="hadiths my-4">
    <div class="container py-4 ">
    
        <div class="row py-4">
    
            <div class="col-md-4 ">
                <div class="data text-center" routerLink="/chapter-hadiths/ara-bukhari">
                    <h5>صحيح البخاري</h5>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="data text-center" routerLink="/chapter-hadiths/ara-muslim">
                <h5>صحيح مسلم</h5>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="data text-center" routerLink="/chapter-hadiths/ara-ibnmajah">
            <h5> سنن ابن ماجه</h5>
    </div>
</div>
<div class="col-md-4 ">
    <div class="data text-center" routerLink="/chapter-hadiths/ara-abudawud">
        <h5> سنن ابي داوود</h5>
</div>
</div>
<div class="col-md-4 ">
    <div class="data text-center" routerLink="/chapter-hadiths/ara-malik">
        <h5>  الامام مالك</h5>
</div>
</div>
<div class="col-md-4 ">
    <div class="data text-center" routerLink="/chapter-hadiths/ara-nasai">
        <h5>   سنن النسائي</h5>
</div>
</div>
<div class="col-md-4 ">
    <div class="data text-center" routerLink="/chapter-hadiths/ara-tirmidhi">
        <h5>   سنن النسائي</h5>
</div>
</div>
    </div>
</div>