<section>

    <div class="head"> 
   
      <p>مقاطع يوتيوب مقترحة </p>
    
      <i class="fa fa-arrow-down" aria-hidden="true"></i>


    </div>
    <div class="row m-auto">
      <div class="col-md-4">
        <div class="box">
         <p>ايه المشكلة ؟</p>
        <iframe  class="responsive-iframe"  src="https://www.youtube.com/embed/I1_1zFiNL4A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
          </div>
      </div>
      <div class="col-md-4">
        <div class="box">
            <p>رمضان كاست</p>
        <iframe class="responsive-iframe"   src="https://www.youtube.com/embed/XTSmKax8Tmc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      </div>
      <div class="col-md-4">
         <div class="box">
            <p>وعي</p>
        <iframe class="responsive-iframe"   src="https://www.youtube.com/embed/nSDNA4YRS_8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      </div>
     </div>
     <div class="row py-4 m-auto">
      <div class="col-md-4">
        <div class="box">
         <p>  شريف علي </p>
         <iframe class="responsive-iframe"  src="https://www.youtube.com/embed/0s61ZmazvKM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>          </div>
      </div>
      <div class="col-md-4">
        <div class="box">
            <p> احمد عامر</p>
            <iframe class="responsive-iframe"  src="https://www.youtube.com/embed/A6_y0HuwSQw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      </div>
      </div>
      <div class="col-md-4">
         <div class="box">
            <p>محمد الغليط</p>
            <iframe class="responsive-iframe"  src="https://www.youtube.com/embed/zVj2KSM99GA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      </div>
      </div>
     </div>
     <div class="row py-4 m-auto">
      <div class="col-md-4">
        <div class="box">
         <p>   ياسر ممدوح </p>
         <iframe class="responsive-iframe"  src="https://www.youtube.com/embed/RSAZdk64d5s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  
         </div>   </div>
      <div class="col-md-4">
        <div class="box">
            <p>  حازم شومان</p>
            <iframe class="responsive-iframe"   src="https://www.youtube.com/embed/kzStcEvAWvM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            </div>
      </div>
      <div class="col-md-4">
         <div class="box">
            <p> فنجان ياسر الحزيمي</p>
            <iframe class="responsive-iframe"   src="https://www.youtube.com/embed/pJ0auP7dbcY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>           </div>
      </div>
     </div>
     
     <div class="row py-4 m-auto">
      <div class="col-md-4">
        <div class="box">
         <p>    ايمن عبد الرحيم </p>
         <iframe class="responsive-iframe"  src="https://www.youtube.com/embed/TExqiY-5cec" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>         </div>   </div>
      <div class="col-md-4">
        <div class="box">
            <p>   احمد عبد المنعم</p>
            <iframe class="responsive-iframe"  src="https://www.youtube.com/embed/gTKLFDFoRGI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                </div>
      </div>
      <div class="col-md-4">
         <div class="box">
            <p>   احمد سيف</p>
            <iframe class="responsive-iframe"  src="https://www.youtube.com/embed/SoETwhjs8a4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                </div>
      </div>
     </div>
     

     
  </section>