
.head{
display: flex;
margin-right: 50px;
margin-bottom: 20px;

}
.head i{
    margin-right: 8px;
    margin-top: 8px;
    color: #009879;
}
.head p{
    color: #009879;
    font-weight: 600;
}
.box{
    border: 1px solid #009879;
    margin-top: 10px;
    background-color: #f5fdff;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 70%;
}
.responsive-iframe {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
.box p{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #009879;
    color: #ffff;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
   
}
iframe{
    margin: 10px;
  
}