<app-slider></app-slider>

<div class="home" >
<div class="container">
    <div class="row py-4" dir="rtl">
        <div class="col-md-4 col-sm-12 d-block py-4  " >
            <div class="head">
                <i class="fa fa-book blue"></i>
                <span>معاني الآيات</span>
            </div>
            <div class="text " >
<p>وبشر المخبتين الذين إذا ذكر الله وجلت قلوبهم والصابرين على ما أصابهم والمقيمي الصلاة ومما رزقناهم ينفقون   سورة الحج الاية 34-35 والمخبت : المتواضع الذي لا تكبر عنده . وقد أتبع صفة ( المخبتين ) بأربع صفات وهي : وجل القلوب عند ذكر الله ، والصبر على الأذى في سبيله ، وإقامة الصلاة ، والإنفاق </p>          
  </div>
        </div>
        <div class="col-md-4 col-sm-12 d-block py-4" >
            <div class="head ">
                <i class="fa fa-users" aria-hidden="true"></i>
               <span> حديث شريف</span>
            </div>
            <div class="text " >
                <p>حديث عمر  قال: سمعت رسول الله ﷺ يقول: لو أنكم تتوكلون على الله حق توكله لرزقكم كما يرزق الطير، تغدو خماصاً وتروح بطاناً[1]، رواه الترمذي، وقال: حديث حسن.</p>
  </div>
        </div>
        <div class="col-md-4 col-sm-12 d-block py-4" >
            <div class="head">
                <i class="fa fa-comments blue"></i>
            <span>قول ماثور</span>
            </div>
            <div class="text " >
<p>كيف أضحك والأقصى أسير!!!
    قول ل الناصر صلاح الدين و لم يرى يضحك بعدها إلا حينما حرر القدس وبيت المقدس فى يوم في 11 رجب سنة 583 هـ، وقال : الآن أضحك.</p>  </div>
        </div>
    </div>
</div>
<app-suggestion></app-suggestion>

</div>

<app-contact></app-contact>
<app-footer></app-footer>